<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>

<body>

    <h1>Links</h1>
    <a href="/add">Adicionar link</a>


    <% for(let i=0; i < links.length; i++){%>

        <div id="<%=links[i]._id%>">
            <form action="/?_method=DELETE" method="POST">
                <h2>
                    <%=links[i].title%>
                </h2>
                <div>
                    <%=links[i].description%>
                </div>
                <div>
                    <%=links[i].url%>
                </div>
                <input name="id" value='<%=links[i]._id%>' hidden>
                <button type="submit">Delete</button>
                <a href="/edit/<%=links[i]._id%>">Editar</a>
            </form>
        </div>

        <%}%>


            <!-- <script>

                function deleteLink(id) {
                    fetch('/' + id + "o", { method: 'DELETE' }).then(res => {

                        if (res.status == 200) {
                            res.text().then(linkId => {
                                console.log(linkId)
                                document.getElementById(linkId).remove();
                            })
                        }else{
                            res.json().then(err =>{
                                console.log(err.message);
                                alert("Erro não foi possivel deletar!")
                            })
                        }
                    })
                };

            </script> -->




</body>

</html>